DB_USERNAME=root
DB_PASSWORD=your_password

MAIL_USER=your_email@gmail.com
MAIL_PASS=your_app_password

VNPAY_TMN_CODE=your_tmn_code
VNPAY_HASH_SECRET=your_hash_secret
VNPAY_RETURN_URL=http://localhost:8080/frontend/pages/vnpay-return.html
VNPAY_FRONTEND_RETURN_URL=http://127.0.0.1:5500/frontend/pages/vnpay-return.html
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_IPN_URL=http://localhost:8080/api/payment/vnpay-ipn